<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", { title: locals.title }) %>
  <body>
    <h1><%= locals.h1Title %></h1>
    <%- include("./partials/navbar", { navbar: locals.navbar }) %>
    <main>
      <section>
        <form id="form--guests" method="post">
          <fieldset>
            <legend>Guest</legend>
            <input type="hidden" id="guest_id" name="guest_id"/>
            <label for="guest_fname">First Name
              <input type="text" id="guest_fname" name="guest_fname" maxlength="30" placeholder="John" />
            </label>
            <label for="guest_lname">Last Name
              <input type="text" id="guest_lname" name="guest_lname" maxlength="30" placeholder="Doe" />
            </label>
            <label for="guest_dob">Birthday
              <input type="date" id="guest_dob" name="guest_dob" />
            </label>
            <label for="guest_email">Email
              <input type="email" id="guest_email" name="guest_email" maxlength="50" placeholder="test@example.com" />
            </label>
            <label for="guest_phone">Phone
              <input type="tel" id="guest_phone" name="guest_phone" minlength="10" maxlength="10" placeholder="7091234567" />
            </label>
          </fieldset>
          <fieldset>
            <legend>Address</legend>
            <label for="street">Street
              <input type="text" id="street" name="street" maxlength="50" placeholder="10 Main Street">
            </label>
            <label for="city">City
              <input type="text" id="city" name="city" maxlength="20" placeholder="St. John's" >
            </label>
            <label for="province">Province
              <input type="text" id="province" list="province_list" name="province" minlength="2" maxlength="2" placeholder="NL" >
              <datalist id="province_list">
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
              </datalist>
            </label>
            <label for="postal_code">Postal Code
              <input type="text" id="postal_code" name="postal_code" minlength="6" maxlength="6" placeholder="A1B2C3">
            </label>
          </fieldset>
          <div>
            <button id="btn--reset" type="reset" disabled>Reset</button>
            <button id="btn--post" type="submit" disabled>Add</button>
            <button id="btn--delete" type="submit" disabled>Delete</button>
          </div>
        </form>
      </section>
      <section>
        <div>
          <% if (locals.data && locals.data.length) { %>
          <ul id="list--guests">
            <% locals.data.forEach(item => { %>
            <li id="guest-<%= item[0] %>"><%= item.slice(1).join(", ") %></li>
            <% }) %>
          </ul>
          <% } else { %>
          <p>There is no data</p>
          <% } %>
        </div>
      </section>
    </main>
    <script type="module" src="../scripts/guests.js"></script>
  </body>
</html>
