<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head", { title: locals.title }) %>
  <body>
    <h1><%= locals.h1Title %></h1>
    <%- include("./partials/navbar", { navbar: locals.navbar }) %>
    <main>
      <section>
        <form id="form--guests">
          <fieldset>
            <legend>Guest</legend>
            <label for="fname">First Name
              <input type="text" id="fname" name="guest_fname" placeholder="John" />
            </label>
            <label for="lname">Last Name
              <input type="text" id="lname" name="guest_lname" placeholder="Doe" />
            </label>
            <label for="dob">Birthday
              <input type="date" id="dob" name="guest_dob" />
            </label>
            <label for="email">Email
              <input type="text" id="email" name="guest_email" placeholder="email@example.com" />
            </label>
            <label for="phone">Phone
              <input type="text" id="phone" name="guest_phone" placeholder="9999999999" />
            </label>
          </fieldset>
          <fieldset>
            <legend>Address</legend>
            <label for="street">Street
              <input type="text" id="street" name="street" placeholder="10 Main Street">
            </label>
            <label for="city">City
              <input type="text" id="city" name="city" placeholder="St. John's" >
            </label>
            <label for="province">Province
              <input type="text" id="province" name="province" placeholder="NL" >
            </label>
            <label for="postal_code">Postal Code
              <input type="text" id="postal_code" name="postal_code" placeholder="A1B2C3">
            </label>
          </fieldset>
          <div>
            <input id="btn--reset" type="reset" disabled />
            <input id="btn--submit" type="submit" value="Add" disabled />
            <input id="btn--delete" type="submit" value="Delete" disabled />
          </div>
        </form>
      </section>
      <section>
        <div>
          <% if (locals.data.length) { %>
          <ul id="list--guests">
            <% locals.data.forEach(item => { %>
            <li id="guest-<%= item[0] %>"><%= item.slice(1).join(", ") %></li>
            <% }) %>
          </ul>
          <% } else { %>
          <p>There is no data</p>
          <% } %>
        </div>
      </section>
    </main>
    <script src="../scripts/guests.js"></script>
  </body>
</html>
